#header-image {
    width: 50%;
    height: auto;
}

.description {
    background-color: wheat;
    padding: 10px;
}

.ingredients-list {
    background-color: blanchedalmond;
    padding: 10px;
    width: 75%;
}

h1 {
    font-family: "Brush Script MT", sans-serif;
    font-size: 24pt;
}